<script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#7B61FF',
                        secondary: '#5AB2E6',
                        third: '#875AE6',
                        'principal-font': '#5B5B5B',
                        'secondary-font': '#000000',
                        'principal-bg': '#F6F6F6',
                        'secondary-bg': '#FFFFFF'
                    }
                }
            }
        }
    </script>